Repository thuringia/hotel: changes, and which lint-staged commands are due for each by the changed paths.
All: precommit:fmt:js, precommit:lint:js, precommit:fmt:css, precommit:lint:css, precommit:lint:json, precommit:fmt:json

:sparkles: feat(main): add react-perf dev tool
  app/main.dev.js
Due: precommit:fmt:js, precommit:lint:js

:art: refactor(rootReducer): move rootReducer to app/
  app/containers/CounterPage/duck.js
  app/reducers.js
  app/store/configureStore.dev.js
Due: precommit:fmt:js, precommit:lint:js

:heavy_plus_sign::heavy_minus_sign::arrow_up:: chore(package): build updates
  .babelrc
  package.json
  webpack.config.main.prod.js
  webpack.config.renderer.dev.js
  webpack.config.renderer.prod.js
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:heavy_plus_sign: feat(package): add storybook
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/index.stories.js
  yarn.lock
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

:heavy_plus_sign: feat(*): add generators
  app/ducks/Calibre/duck.js
  app/ducks/Calibre/sagas.js
  app/ducks/Calibre/selectors.js
  internals/generators/component/es6.js.hbs
  internals/generators/component/es6.pure.js.hbs
  internals/generators/component/index.js
  internals/generators/component/messages.js.hbs
  internals/generators/component/stateless.js.hbs
  internals/generators/component/test.js.hbs
  internals/generators/container/actions.test.js.hbs
  internals/generators/container/duck.js.hbs
  internals/generators/container/duck.test.js.hbs
  internals/generators/container/index.js
  internals/generators/container/index.js.hbs
  internals/generators/container/messages.js.hbs
  internals/generators/container/sagas.js.hbs
  internals/generators/container/sagas.test.js.hbs
  internals/generators/container/selectors.js.hbs
  internals/generators/container/selectors.test.js.hbs
  internals/generators/container/story.js.hbs
  internals/generators/container/test.js.hbs
  internals/generators/index.js
  internals/generators/language/add-locale-data.hbs
  internals/generators/language/app-locale.hbs
  internals/generators/language/format-translation-messages.hbs
  internals/generators/language/index.js
  internals/generators/language/intl-locale-data.hbs
  internals/generators/language/polyfill-intl-locale.hbs
  internals/generators/language/translation-messages.hbs
  internals/generators/language/translations-json.hbs
  internals/generators/route/index.js
  internals/generators/route/route.hbs
  internals/generators/route/routeWithReducer.hbs
  internals/generators/utils/componentExists.js
  package.json
  yarn.lock
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

make storybook run again
  .eslintrc
  .storybook/config.js
  app/containers/Import/duck.js
  app/containers/Import/index.js
  app/containers/Import/sagas.js
  app/containers/Import/selectors.js
  app/containers/Import/tests/duck.test.js
  app/containers/Import/tests/index.test.js
  app/containers/Import/tests/sagas.test.js
  app/containers/Import/tests/selectors.test.js
  app/reducers.js
  app/sagas.js
  app/store/configureStore.dev.js
  app/store/configureStore.js
  app/store/configureStore.prod.js
  app/store/index.js
  app/utils/asyncInjectors.js
  package.json
  stories/Apps/Import.js
  stories/index.js
  stories/index.stories.js
  stories/util/AppProvider.js
  yarn.lock
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

:sparkles: feat(generators): generate a `styled-component`
  internals/generators/component/es6.js.hbs
  internals/generators/component/es6.pure.js.hbs
  internals/generators/component/index.js
  internals/generators/component/stateless.js.hbs
Due: precommit:fmt:js, precommit:lint:js

:arrow_up: chore(package): pull minor release updates
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up: chore(package): upgrade `cross-spawn` to v6
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up: chore(package): upgrade `flow-bin` and `html-webpack-plugin`
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up::wrench: chore(package): upgrade `lint-staged` to v7
  .lintstagedrc
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up: chore(package): upgrade `plop` to v2
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up::penguin: chore(package): upgrade `electron-builder` to v20
  .travis.yml
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:wrench: chore(package): pin `electron@1.8.3`
  .babelrc
  app/package.json
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:arrow_up::wrench: chore(package): upgrade to `webpack` v4
  .babelrc
  app/containers/CounterPage/index.js
  app/containers/Root.js
  app/index.js
  package.json
  webpack.config.base.js
  webpack.config.renderer.dev.js
  webpack.config.renderer.prod.js
  yarn.lock
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

:arrow_up: chore(package): upgrade to `stylelint@9`
  app/index.js
  package.json
  webpack.config.renderer.dev.js
  yarn.lock
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

:arrow_up: chore(package): upgrade to `styled-components@3`
  package.json
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

:boom: chore(package): bump node, npm and yarn requirements
  package.json
Due: precommit:lint:json, precommit:fmt:json

:wrench: fix(travis): update travis config to fix build
  .travis.yml
  package.json
Due: precommit:lint:json, precommit:fmt:json

:wrench: chore(package): remove `flow-type` from postinstall hook
  package.json
Due: precommit:lint:json, precommit:fmt:json

:sparkles: chore(travis): add greenkeeper-lockfile
  .travis.yml
Due: none

:construction_worker: chore(travis): disable lint and test for now
  .travis.yml
Due: none

:construction_worker: feat(travis): upload artifacts to Github releases
  .travis.yml
Due: none

formatting updates
  app/main.dev.js
  app/menu.js
  app/routes.js
  internals/mocks/fileMock.js
  internals/scripts/CheckBuiltsExist.js
  internals/scripts/CheckNodeEnv.js
  package.json
Due: precommit:fmt:js, precommit:lint:js, precommit:lint:json, precommit:fmt:json

create an initial "hello world"
  .travis.yml
  packages/hotel-app/.babelrc
  packages/hotel-app/app/Entry.jsx
  packages/hotel-app/app/index.html
  packages/hotel-app/package.json
  packages/hotel-app/webpack.dev.config.js
  packages/hotel-templates/webpack.base.config.js
  packages/hotel-ui/package.json
  packages/hotel-ui/webpack.base.config.js
  packages/hotel-ui/webpack.dev.config.js
  yarn.lock
Due: precommit:lint:json, precommit:fmt:json

add circleci due to travis migration
  .circleci/config.yml
Due: none

update circleci config
  .circleci/config.yml
Due: none

update circleci config to use npm due to PATH
  .circleci/config.yml
Due: none

update circleci config due to PATH
  .circleci/config.yml
Due: none

update circleci config due to PATH
  .circleci/config.yml
  package.json
Due: precommit:lint:json, precommit:fmt:json

update circleci config due to PATH
  package.json
Due: precommit:lint:json, precommit:fmt:json

Path conditions:
  precommit:fmt:js: any of: {.storybook,app,internals,jquery,server,stories}/**/*.{js,jsx}
  precommit:lint:js: any of: {.storybook,app,internals,jquery,server,stories}/**/*.{js,jsx}
  precommit:fmt:css: any of: {app/components,scss}/**/*.{css,scss}
  precommit:lint:css: any of: {app/components,scss}/**/*.{css,scss}
  precommit:lint:json: any of: *.json
  precommit:fmt:json: any of: *.json
